html,
body {
  height: 100%;
  margin: 0;
}

body {
  @include text-sets(22px, 34px);
  padding: 0;
  margin: 0;
  min-width: $width-mobile;
  font-family: "Open Sans", "Arial", sans-serif;
  box-sizing: border-box;
  background-color: $background-color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
