.header {
  position: relative;
  padding: 34px 12% 24px 15%;
  margin: 0 auto;



  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(to left, #FAB55B, #C667CD, #737BE4);
  }

}
.header__list {
  @include list-refresh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  @media (max-width: $width-laptop) {
    flex-direction: column;
  }
  @media (max-width: $width-desktop) {
    justify-content: center;
  }
}

.header__list-item {
  margin-right: 5%;
  &:last-child {
    margin-right: 0;
  }
  a {
    color: #ffffff;
    text-transform: uppercase;
    @include text-sets(14px, 16px, 700);
    @include set-hover(#ffffff);
  }
  &--logo {
    @media (max-width: $width-desktop) {
      order: -1;
    }
  }
}
